{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h2">Dashboard</h1>
        {% if current_user.is_authenticated and current_user.tem_permissao('admin_rh') %}
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ url_for('main.exibir_formulario_cadastro') }}" class="btn btn-sm btn-brand">
                <i class="bi bi-plus-circle"></i> Novo Funcionário
            </a>
        </div>
        {% endif %}
    </div>

    {% if current_user.is_authenticated and current_user.tem_permissao('admin_rh') %}
    
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h3 class="fw-bold">XX</h3>
                            <p class="mb-0 text-secondary">Colaboradores Ativos</p>
                        </div>
                        <i class="bi bi-people-fill fs-1 text-primary-emphasis"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm mb-3">
                 <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h3 class="fw-bold">XX</h3>
                            <p class="mb-0 text-secondary">Avisos no Mural</p>
                        </div>
                        <i class="bi bi-megaphone-fill fs-1 text-success-emphasis"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-light border" role="alert">
      <h4 class="alert-heading">Bem-vindo(a), {{ current_user.funcionario.nome }}!</h4>
      <p>Este é o seu painel pessoal. Utilize o menu ao lado para navegar pelo sistema.</p>
    </div>
    {% endif %}

{% endblock %}