<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Sistemas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1.0">
 
</head>
<body>
  <h1>Lista de Sistemas</h1>
  <a href="/">← Voltar</a>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Status</th>
        <th>Funcionário</th>
      </tr>
    </thead>
    <tbody>
      {% for s in sistemas %}
      <tr>
        <td>{{ s.nome }}</td>
        <td>{{ s.status }}</td>
        <td>{{ s.funcionario.nome }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
